{% extends 'd_base.html' %}

{% block head %}
<title>Manage</title>
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/create_test.css')}}">

{% endblock %}

{% block content %}

{% for i in range(2) %}
<br>
{% endfor %}

<div class="row">
    <div class="col md-12">
       
        <div class="jumbotron p-3">
            <h2>Student <b>Scoresheet </b></h2>

             <table class="table table-hover table-dark">

                 <tr>

                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}

                </tr>


                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
                </div>
                </div>
                </div>
{% endblock %}
